* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,86,121,1) 50%, rgba(0,212,255,1) 100%);
}

h1 {
    font-family: monospace;
    font-size: 70pt;
    font-weight: 800;
    color: rgb(255, 255, 255);
}

div {
    display: flex;
    justify-content: center;
    position: relative;
    top: 50%;
    transform: translate(0%,-50%);
}